body {
  display: flex;
  justify-content: center;
  height: 800px;
  width: 800px;
  flex-wrap: wrap;
  flex-direction: column;
  flex: 1 auto;
}
div.main{
display: flex;
background-color: red;
height: auto;
flex: 1 auto;

}

div.grid {
  flex: 1 1 auto;
  border: 2px solid blue;
  max-width: 400px;
  max-height: 400px;
}