 body {
  display: flex;
  justify-content: center;
   width: 1400px;
  height: 1400px;
  margin: 12em auto;
 }
#parent {
  display: flex;
  justify-content: center;
  max-height: 800px;
  max-width: 800px;
  flex-wrap: wrap;
  flex-direction: column;
  flex: 1 auto;

}
div.main{
display: flex;
background-color: red;
flex: 1 auto;

}

div.grid {
  flex: 1 1 auto;
  border: 2px solid blue;
  max-width: 400px;
  max-height: 400px;
}